profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false
    conda.enabled = false
  }
}

process {
  errorStrategy = 'terminate'

  withLabel: single {
    cpus = 1
    memory = '2 GB'
    time = '2h'
  }

  withLabel: medium {
    cpus = 4
    memory = '8 GB'
    time = '8h'
  }

  withLabel: high {
    cpus = 6
    memory = '20 GB'
    time = '15h'
  }

}
